* {
  overflow: hidden;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  width: 1440px;
  height: auto;
  background-color: hsl(30, 38%, 92%);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  height: 400px;
  display: flex;
  background-color: white;
  border-radius: 10px;
}
.container .product-img {
  height: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.container-product .price {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  margin: 10px 0;
}
.container-product .price span {
  color: gray;
  font-size: 20px;
  text-decoration: line-through;
}
.container-product button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  width: 270px;
  margin-bottom: 15px;
}
.perfume {
  font-weight: 700;
  color: hsl(228, 12%, 48%);
  margin-top: 15px;
}
.parfum {
  width: 300px;
  font-weight: bold;
  font-size: 50px;
  font-family: "https://fonts.google.com/specimen/Fraunces";
}
.paragraph {
  width: 190px;
  font-size: 14px;
  font-family: "https://fonts.google.com/specimen/Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}
@media screen and (max-width: 375px) {
  body {
    width: 375px;
  }
  .container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .container-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }
  .container .product-img {
    background: url("./images/image-product-mobile.jpg") no-repeat;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    height: 300px;
    width: 100%;
  }
  .parfum {
    width: 250px;
    font-size: 30px;
    margin-top: 10px;
  }
  .container-product button {
    width: 235px;
  }
  .paragraph {
    width: 235px;
    margin-top: 10px;
  }
}
